DATABASE_URL=postgresql://admin:admin@localhost:5432/university_db
SECRET_KEY=cambia-esto-en-produccion-por-algo-largo-y-aleatorio
ALGORITHM=HS256
EXPIRES_IN=3600
APP_NAME=University API
DEBUG=true
STUDENT_NUMBER_START=50000
CLASSROOM_NUMBER_START=100
